/* VARIABLES */
/* Size */
/* Colors */
/*Fonts*/
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg"), url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg"), url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url("../fonts/HelveticaNeue-Medium.eot");
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg"), url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg"), url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Italic';
  src: url("../fonts/HelveticaNeue-Italic.eot");
  src: url("../fonts/HelveticaNeue-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeue-Italic.woff") format("woff"), url("../fonts/HelveticaNeue-Italic.ttf") format("truetype"), url("../fonts/HelveticaNeue-Italic.svg#HelveticaNeue-Italic") format("svg"), url("../fonts/HelveticaNeue-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
.slick-dots {
  position: absolute;
  bottom: 21.05vh;
  right: 26.18vw; }
  .slick-dots li {
    display: inline-block; }
    .slick-dots li button {
      width: 10px;
      height: 10px;
      background-color: #fff;
      border: none;
      font-size: 0;
      border-radius: 50%;
      margin: 0 5px;
      padding: 0;
      cursor: pointer; }
    .slick-dots li.slick-active button {
      background-color: red; }

.slick-arrow {
  width: 15px;
  height: 26px;
  position: absolute;
  z-index: 1;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%); }
  .slick-arrow.slick-prev {
    left: 60px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .slick-arrow.slick-next {
    right: 60px; }

*, ::after, ::before {
  box-sizing: border-box; }

div:after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: "HelveticaNeue", Sans-Serif;
  font-size: 16px;
  font-weight: 400; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  width: 1440px;
  padding: 0 60px;
  margin: 0 auto; }

.btn-primary {
  background-color: #e60028;
  color: #ffffff;
  border: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.mobile-only {
  display: none; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: all 0.5s; }
  header.headroom--unpinned {
    transform: translateY(-100%); }
  header.headroom--not-top {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff; }
    header.headroom--not-top .header-nav .menu ul li a {
      color: #000000; }
      header.headroom--not-top .header-nav .menu ul li a:hover {
        color: #e60028; }
    header.headroom--not-top .header-info {
      border-bottom: 1px solid #e2e2e2; }
    header.headroom--not-top .header-nav {
      padding: 10px 0 10px 60px; }
      header.headroom--not-top .header-nav .menu {
        margin: 10px 0 0 123px; }
    header.headroom--not-top .logo img {
      display: none; }
      header.headroom--not-top .logo img.logo-black {
        display: block !important; }

.header-info {
  background-color: #ffffff;
  transition: all 0.5s; }
  .header-info .quick-links {
    float: left;
    margin-right: 180px;
    padding: 17px 0 14px 60px; }
    .header-info .quick-links li {
      display: block;
      float: left;
      margin-right: 40px; }
      .header-info .quick-links li a {
        font-size: 0.75rem;
        text-transform: uppercase;
        color: #686b6e;
        letter-spacing: 0.18px;
        vertical-align: middle;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .header-info .quick-links li a:hover {
          color: #e60028; }
      .header-info .quick-links li:last-child {
        margin-right: 0; }
  .header-info .locations-rate {
    float: left;
    padding: 15px 0 13px 0; }
    .header-info .locations-rate li {
      display: block;
      float: left;
      margin-right: 34px; }
      .header-info .locations-rate li a {
        font-size: 0.75rem;
        text-transform: uppercase;
        color: #686b6e;
        letter-spacing: 0.3px;
        vertical-align: middle;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .header-info .locations-rate li a:hover {
          color: #e60028; }
      .header-info .locations-rate li .icon-currency {
        width: 30px;
        margin-right: 6px; }
      .header-info .locations-rate li:last-child {
        margin-right: 0; }
  .header-info .lising-offer {
    float: left;
    padding: 17px 0 0 96px;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #686b6e;
    letter-spacing: 0.18px;
    vertical-align: middle;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .header-info .lising-offer:hover {
      color: #e60028; }
    .header-info .lising-offer .icon-key {
      width: 19px;
      height: 19px;
      margin-right: 6px;
      transform: rotate(30deg); }
  .header-info .language-links {
    float: right;
    padding: 13px 22px 0 0; }
    .header-info .language-links li {
      float: left;
      padding: 0 10px;
      position: relative; }
      .header-info .language-links li a {
        font-size: 0.75rem;
        text-transform: uppercase;
        color: #686b6e;
        vertical-align: middle;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .header-info .language-links li a:hover {
          color: #e60028; }
      .header-info .language-links li:first-child:after {
        background-color: #bebfc1;
        content: "";
        height: 12px;
        position: absolute;
        right: -1px;
        top: 5px;
        width: 2px; }
    .header-info .language-links .is-active a {
      color: #e60028; }
  .header-info .icon {
    width: 14px;
    height: 14px;
    fill: #9f9f9f;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -2px; }

.header-nav {
  position: relative;
  padding: 43px 0 0 60px;
  transition: all 0.5s; }
  .header-nav .logo {
    float: left;
    width: 232px; }
    .header-nav .logo a {
      display: block; }
      .header-nav .logo a img {
        height: 32px; }
        .header-nav .logo a img.logo-black {
          display: none; }
  .header-nav .menu {
    float: left;
    margin: 15px 0 0 123px; }
    .header-nav .menu ul li {
      float: left;
      margin: 0 33px 0 0; }
      .header-nav .menu ul li a {
        color: #ffffff;
        font-family: "HelveticaNeue-Medium", Sans-Serif;
        font-size: 0.875rem;
        letter-spacing: 0.7px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .header-nav .menu ul li a:hover {
          color: #e60028; }

.main-wrapper {
  padding-top: 47px; }

.main-slider {
  position: relative; }

.main-slider-caption {
  position: absolute;
  left: 6%;
  top: 50%;
  transform: translate(0, -50%); }
  .main-slider-caption .lising-action {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 10.28px;
    text-transform: uppercase;
    letter-spacing: 2.77px;
    background-color: #e60028;
    padding: 5px;
    margin-bottom: 30px;
    display: inline-block; }
  .main-slider-caption h1 {
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.35);
    color: #ffffff;
    font-size: 3.5625rem;
    line-height: normal;
    margin: 0 0 20px -4px; }
  .main-slider-caption p {
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.35);
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 28.39px;
    text-align: left;
    max-width: 500px; }
  .main-slider-caption .action-more-info {
    text-align: left;
    margin-top: 40px; }
    .main-slider-caption .action-more-info a {
      color: #e60028;
      font-family: "HelveticaNeue-Medium", Sans-Serif;
      font-size: 0.875rem;
      display: inline-block;
      border-radius: 25px;
      background-color: #ffffff;
      padding: 17px 34px; }
      .main-slider-caption .action-more-info a:hover .icon {
        -webkit-transform: translateX(10px);
        transform: translateX(10px); }
    .main-slider-caption .action-more-info .icon {
      width: 12px;
      height: 10px;
      fill: #e60028;
      vertical-align: middle;
      margin-left: 10px;
      position: relative;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.down-icon {
  position: absolute;
  bottom: 78px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center; }
  .down-icon a {
    width: 47px;
    height: 47px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.11);
    border: 1px solid #fafafa;
    background-color: #ffffff;
    border-radius: 100%;
    text-align: center;
    display: inline-block; }
    .down-icon a:hover .icon {
      -webkit-transform: translateY(5px) rotate(90deg);
      transform: translateY(5px) rotate(90deg); }
  .down-icon .icon {
    width: 15px;
    height: 16px;
    fill: #e60028;
    vertical-align: middle;
    position: relative;
    top: 12px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 35px;
  z-index: 9999999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .back-to-top a {
    width: 47px;
    height: 47px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.11);
    border: 1px solid #fafafa;
    background-color: #ffffff;
    border-radius: 100%;
    text-align: center;
    display: inline-block; }
    .back-to-top a:hover .icon {
      -webkit-transform: translateY(-5px) rotate(-90deg);
      transform: translateY(-5px) rotate(-90deg); }
  .back-to-top .icon {
    width: 15px;
    height: 16px;
    fill: #e60028;
    vertical-align: middle;
    position: relative;
    top: 15px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.visible {
  opacity: 1;
  visibility: visible; }

.main-slider {
  position: relative; }
  .main-slider .main-slider-image {
    background: rgba(0, 0, 0, 0) no-repeat scroll center center/cover;
    height: 800px; }

.about {
  margin: 145px 0 140px 0; }

.about-content, .one-places-content, .finance-lising {
  border-bottom: 4px solid #f2f2f2;
  padding-bottom: 50px; }

.about-info, .one-places-info {
  max-width: 780px;
  margin: 0 auto 65px auto; }
  .about-info h2, .one-places-info h2 {
    color: #333333;
    font-size: 2rem;
    line-height: 31.98px;
    text-align: center;
    margin: 0 0 20px 0; }
  .about-info p, .one-places-info p {
    color: #8a8e92;
    font-size: 1.125rem;
    line-height: 28px;
    text-align: center; }

.col-three {
  float: left;
  width: 31%;
  margin: 0 1%; }

.about-box {
  max-width: 270px;
  margin: 0 auto;
  text-align: center; }
  .about-box .about-number {
    color: #e60028;
    font-family: "HelveticaNeue-Light", Sans-Serif;
    font-size: 93px;
    line-height: 44.54px;
    text-transform: uppercase;
    font-size: 3.875rem;
    margin: 0 0 30px 0; }
  .about-box .about-number-info {
    color: #686b6e;
    font-family: "HelveticaNeue-Bold", Sans-Serif;
    font-size: 0.875rem;
    line-height: 29.31px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin: 0 0 13px 0; }
  .about-box .about-number-desc {
    color: #686b6e;
    font-size: 0.875rem;
    line-height: 21px;
    text-align: center; }

.about-more-info, .one-places-more-info, .finance-lising-desc .finance-lising-more-info, .magazine-box .magazine-content .magazine-more-info, footer .bank-visit .bank-visit-more-info {
  text-align: center;
  padding-top: 37px; }
  .about-more-info a, .one-places-more-info a, .finance-lising-desc .finance-lising-more-info a, .magazine-box .magazine-content .magazine-more-info a, footer .bank-visit .bank-visit-more-info a {
    color: #e60028;
    font-family: "HelveticaNeue-Medium", Sans-Serif;
    font-size: 1.125rem; }
    .about-more-info a:hover .icon, .one-places-more-info a:hover .icon, .finance-lising-desc .finance-lising-more-info a:hover .icon, .magazine-box .magazine-content .magazine-more-info a:hover .icon, footer .bank-visit .bank-visit-more-info a:hover .icon {
      -webkit-transform: translateX(10px);
      transform: translateX(10px); }
  .about-more-info .icon, .one-places-more-info .icon, .finance-lising-desc .finance-lising-more-info .icon, .magazine-box .magazine-content .magazine-more-info .icon, footer .bank-visit .bank-visit-more-info .icon {
    width: 14px;
    height: 14px;
    fill: #e60028;
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.one-places {
  margin-bottom: 197px; }

.one-places-main-img, .finance-lising-desc .finance-lising-item, .magazine-box .magazine-item {
  background: rgba(0, 0, 0, 0) no-repeat scroll center center/cover;
  padding-bottom: 44.77%;
  position: relative;
  overflow: hidden; }
  .one-places-main-img:before, .finance-lising-desc .finance-lising-item:before, .magazine-box .magazine-item:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    transition-delay: 0.5s; }
  .one-places-main-img.red-reveal:before, .finance-lising-desc .red-reveal.finance-lising-item:before, .magazine-box .red-reveal.magazine-item:before {
    background-color: #e60028; }
  .one-places-main-img.in-view:before, .finance-lising-desc .in-view.finance-lising-item:before, .magazine-box .in-view.magazine-item:before {
    transform: translateX(100%); }

.one-places-content {
  overflow: hidden; }

.one-places-info {
  max-width: 765px;
  margin: 60px auto 65px auto; }

.one-places-box {
  max-width: 295px;
  margin: 0 auto; }
  .one-places-box .one-places-item {
    min-height: 85px; }
    .one-places-box .one-places-item .places-icon {
      fill: #e60028; }
    .one-places-box .one-places-item .lising-icon {
      width: 119px;
      height: 82px; }
    .one-places-box .one-places-item .security-icon {
      width: 64px;
      height: 83px; }
    .one-places-box .one-places-item .reg-icon {
      width: 113px;
      height: 60px;
      margin-top: 24px; }
  .one-places-box .one-places-name {
    color: #333333;
    font-family: "HelveticaNeue-Light", Sans-Serif;
    font-size: 2rem;
    line-height: 36px;
    margin: 35px 0 15px 0; }
  .one-places-box .one-places-desc {
    color: #686b6e;
    font-size: 0.875rem;
    line-height: 21px;
    text-align: left; }

.finance-lising {
  padding-bottom: 110px; }
  .finance-lising .col-left {
    width: 26%;
    float: left; }
  .finance-lising .col-right {
    width: 74%;
    float: left; }

.finance-lising-content {
  padding-top: 122px; }
  .finance-lising-content h1 {
    color: #333333;
    font-family: "HelveticaNeue-Light", Sans-Serif;
    font-size: 2.625rem;
    line-height: 48px;
    margin: 0 0 15px 0;
    max-width: 178px; }
  .finance-lising-content p {
    color: #8a8e92;
    font-size: 1.125rem;
    line-height: 24px; }

.finance-lising-desc {
  position: relative; }
  .finance-lising-desc .finance-lising-item {
    position: relative;
    max-width: 960px;
    padding-bottom: 66.55%;
    margin-bottom: 50px;
    overflow: hidden; }
    .finance-lising-desc .finance-lising-item:before {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: 0.5s;
      transition-delay: 0.5s; }
    .finance-lising-desc .finance-lising-item.gray-reveal:before {
      background-color: #efefee;
      transform: translateX(0); }
    .finance-lising-desc .finance-lising-item.gray-reveal.in-view:before {
      transform: translateX(-100%); }
  .finance-lising-desc .finance-red-border {
    position: absolute;
    top: -60px;
    right: -60px;
    width: 865px;
    height: 376px;
    background-color: #e60028;
    z-index: -1; }
  .finance-lising-desc p {
    max-width: 770px;
    color: #686b6e;
    font-size: 1.125rem;
    line-height: 24px; }
  .finance-lising-desc .finance-lising-more-info {
    text-align: left;
    padding-top: 20px; }

.magazine {
  margin: 64px auto 63px auto; }
  .magazine .container {
    padding: 0 120px; }
  .magazine h3 {
    color: #333333;
    font-family: "HelveticaNeue-Medium", Sans-Serif;
    font-size: 1.5rem;
    line-height: 29.97px;
    text-align: center;
    margin-bottom: 52px; }

.magazine-box {
  max-width: 346px; }
  .magazine-box a {
    display: inline-block; }
  .magazine-box .magazine-category {
    display: inline-block;
    color: #666666;
    font-family: "HelveticaNeue-Bold", Sans-Serif;
    font-size: 0.8125rem;
    line-height: 18.19px;
    text-transform: uppercase;
    letter-spacing: 1.36px;
    text-align: left;
    margin-bottom: 13px; }
  .magazine-box .magazine-item {
    padding-bottom: 0;
    width: 346px;
    height: 200px;
    position: relative; }
    .magazine-box .magazine-item .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .magazine-box .magazine-item .overlay .icon-link {
        position: absolute;
        left: 50%;
        top: 60%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  .magazine-box .magazine-content {
    max-width: 310px; }
    .magazine-box .magazine-content h4 {
      color: #000000;
      font-family: "HelveticaNeue-Bold", Sans-Serif;
      font-size: 1.1875rem;
      line-height: 23.71px;
      text-align: left;
      margin: 14px 0 10px 0; }
    .magazine-box .magazine-content p {
      color: #686b6e;
      font-size: 0.875rem;
      line-height: 22px;
      letter-spacing: 0.32px; }
    .magazine-box .magazine-content .magazine-more-info {
      font-family: "HelveticaNeue-Medium", Sans-Serif;
      text-align: left;
      padding-top: 18px;
      font-size: 0.875rem;
      color: #e60028; }
      .magazine-box .magazine-content .magazine-more-info .icon {
        width: 12px;
        height: 10px; }
  .magazine-box:hover .icon {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  .magazine-box:hover .overlay {
    visibility: visible;
    opacity: 1;
    background: rgba(230, 0, 40, 0.7); }
    .magazine-box:hover .overlay .icon-link {
      top: 50%; }

.subscribe {
  position: relative;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f2f2f2;
  padding: 58px 0 83px 0; }
  .subscribe .subscribe-box {
    text-align: center; }
    .subscribe .subscribe-box .subscribe-content h3 {
      color: #000000;
      font-family: "HelveticaNeue-Medium", Sans-Serif;
      font-size: 1.5rem;
      line-height: normal;
      text-align: center;
      margin: 0 0 3px 0; }
    .subscribe .subscribe-box .subscribe-content p {
      color: #686b6e;
      font-size: 1.125rem;
      line-height: 26px; }
    .subscribe .subscribe-box .subscribe-form {
      max-width: 637px;
      margin: 33px auto 0 auto; }
      .subscribe .subscribe-box .subscribe-form input[type="email"] {
        float: left;
        width: 69.8%;
        height: 52px;
        padding: 0 18px;
        font-size: 0.9375rem;
        border-width: 1px 0 1px 1px;
        border-color: #d4d4d4;
        border-style: solid;
        border-radius: 3px 0 0 3px; }
      .subscribe .subscribe-box .subscribe-form .btn-submit {
        float: left;
        width: 29.2%;
        height: 52px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .subscribe .subscribe-box .subscribe-form .btn-submit:hover {
          background-color: #d5061e; }

.contact {
  margin: 76px 0; }
  .contact .contact-box {
    text-align: center; }
    .contact .contact-box .contact-content {
      max-width: 580px;
      margin: 0 auto;
      text-align: center; }
      .contact .contact-box .contact-content h3 {
        color: #000000;
        font-family: "HelveticaNeue-Medium", Sans-Serif;
        font-size: 1.5rem;
        line-height: normal;
        text-align: center;
        margin: 0 0 10px 0; }
      .contact .contact-box .contact-content p {
        color: #686b6e;
        font-size: 1.125rem;
        line-height: 26px; }
      .contact .contact-box .contact-content .btn-write {
        margin-top: 38px;
        width: 274px;
        height: 47px;
        border: 2px solid #e60028;
        background-color: transparent;
        color: #686b6e;
        text-transform: none; }
        .contact .contact-box .contact-content .btn-write:hover {
          background-color: #e60028;
          color: #fff; }
  .contact .contact-form {
    max-width: 742px;
    margin: 65px auto 0 auto;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    display: none; }
    .contact .contact-form .input-field {
      position: relative;
      float: left;
      width: 100%;
      text-align: left; }
      .contact .contact-form .input-field::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 2px solid transparent;
        width: 0;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        z-index: 9; }
      .contact .contact-form .input-field label {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 18px;
        color: #7e8083;
        font-size: 1.0625rem;
        will-change: top;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 6; }
      .contact .contact-form .input-field input, .contact .contact-form .input-field textarea {
        border-width: 0 0 2px;
        border-color: #ccc;
        border-style: solid;
        color: #333;
        font-size: 1.1875em;
        padding: 0;
        height: 54px;
        width: 100%;
        resize: none;
        box-shadow: none; }
      .contact .contact-form .input-field textarea {
        height: 100px;
        display: block;
        line-height: 1.36842;
        padding: 15px 0 20px; }
    .contact .contact-form .input-field-message {
      margin-top: 60px; }
    .contact .contact-form .is-active label {
      top: -8px; }
    .contact .contact-form .is-active::before {
      width: 100%;
      border-color: #e60028; }
    .contact .contact-form .check-field {
      float: left;
      text-align: left;
      margin: 30px 0 0 10px; }
      .contact .contact-form .check-field .check-field-one, .contact .contact-form .check-field .check-field-two {
        color: #686b6e;
        font-size: 0.8125rem;
        margin: 0 0 10px 0; }
        .contact .contact-form .check-field .check-field-one span, .contact .contact-form .check-field .check-field-two span {
          padding-left: 10px; }
          .contact .contact-form .check-field .check-field-one span a, .contact .contact-form .check-field .check-field-two span a {
            color: #686b6e;
            font-size: 0.8125rem;
            text-decoration: underline; }
    .contact .contact-form .btn-contact {
      clear: both;
      float: right;
      margin-top: 30px;
      width: 200px;
      height: 38px;
      text-transform: none; }
      .contact .contact-form .btn-contact:hover {
        background-color: #d5061e; }
    .contact .contact-form .close-form {
      clear: both;
      float: right;
      margin-top: 50px;
      cursor: pointer; }
      .contact .contact-form .close-form span {
        font-size: 0.8125em;
        color: #a6a6a6;
        margin-right: 10px; }
        .contact .contact-form .close-form span .icon-close {
          width: 14px;
          height: 14px;
          fill: #9f9f9f;
          vertical-align: middle;
          margin: 0 0 0 5px;
          position: relative;
          top: -2px; }

footer .container-fluid {
  margin: 0 50px;
  padding: 0 13px;
  border-top: 1px solid #f2f2f2; }
footer .col-five {
  float: left;
  width: 20%; }
footer .quick-links-f {
  margin-top: 75px; }
  footer .quick-links-f h6 {
    color: #686b6e;
    font-family: "HelveticaNeue-Medium", Sans-Serif;
    font-size: 0.8125rem;
    line-height: 18.19px;
    text-transform: uppercase;
    letter-spacing: 1.36px;
    text-transform: uppercase;
    margin-bottom: 35px; }
  footer .quick-links-f ul li a {
    color: #808487;
    font-family: "HelveticaNeue-Medium", Sans-Serif;
    font-size: 0.875rem;
    line-height: 42px;
    letter-spacing: 0.88px;
    text-align: left;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    footer .quick-links-f ul li a:hover {
      color: #e60028; }
footer .social-network {
  margin-top: 44px; }
footer .social-network a {
  margin-right: 5px;
  color: #696a6c;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  footer .social-network a:hover {
    color: #e60028; }
footer .bank-visit {
  clear: both;
  padding-top: 60px; }
  footer .bank-visit h6 {
    color: #686b6e;
    font-family: "HelveticaNeue-Medium", Sans-Serif;
    font-size: 0.8125rem;
    line-height: 18.19px;
    text-transform: uppercase;
    letter-spacing: 1.36px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  footer .bank-visit .bank-visit-more-info {
    text-align: left;
    padding: 0; }
    footer .bank-visit .bank-visit-more-info a {
      color: #e60028;
      font-family: "HelveticaNeue-Medium", Sans-Serif;
      font-size: 0.875rem;
      line-height: 28.19px;
      letter-spacing: 0.88px; }
    footer .bank-visit .bank-visit-more-info .icon {
      width: 12px;
      height: 10px; }
footer .col-two {
  width: 50%;
  float: left; }
footer .footer-copyright {
  border-top: 1px solid #ccc;
  padding-top: 24px;
  margin-top: 60px;
  padding: 15px 63px; }
  footer .footer-copyright .privacy-info a, footer .footer-copyright .copy-info a {
    color: #a6a6a6;
    font-size: 0.625rem;
    font-family: "HelveticaNeue-Medium", Sans-Serif;
    line-height: 18.19px;
    text-transform: uppercase;
    letter-spacing: 1.05px;
    margin-right: 13px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    footer .footer-copyright .privacy-info a:hover, footer .footer-copyright .copy-info a:hover {
      color: #e60028; }
  footer .footer-copyright .copy-info {
    text-align: right; }
    footer .footer-copyright .copy-info a {
      margin: 0 0 0 35px; }

.animation-element.fade-in {
  opacity: 0;
  transition: all 0.8s;
  transition-delay: 0.2s;
  transform: translateY(25%); }
  .animation-element.fade-in.fade-in-delay1 {
    transition-delay: 0.4s; }
  .animation-element.fade-in.fade-in-delay2 {
    transition-delay: 0.6s; }
  .animation-element.fade-in.fade-in-delay3 {
    transition-delay: 0.8s; }
  .animation-element.fade-in.in-view {
    transform: translateY(0);
    opacity: 1; }

@media only screen and (max-width: 1439px) {
  .container {
    width: 100%; } }
@media only screen and (max-width: 1350px) {
  .magazine .container {
    padding: 0 60px; } }
@media only screen and (max-width: 1279px) {
  .header-info .quick-links {
    margin-right: 80px; }
  .header-info .language-links {
    padding-top: 16px; }

  .main-slider-caption .lising-action {
    margin-bottom: 5px; }
  .main-slider-caption h1 {
    font-size: 2.25rem;
    line-height: normal;
    margin-bottom: 10px;
    margin: 0 0 5px -2px; }
  .main-slider-caption p {
    font-size: 0.875rem;
    line-height: 25px;
    max-width: 400px; }
  .main-slider-caption .action-more-info {
    margin-top: 20px; }
    .main-slider-caption .action-more-info a {
      padding: 14px 25px; }
    .main-slider-caption .action-more-info .icon {
      margin-left: 5px; }

  .down-icon {
    bottom: 30px; }

  .finance-lising-desc .finance-lising-item .finance-red-border {
    width: 50%;
    height: 65%; }

  .finance-lising-content {
    padding-top: 80px; }
    .finance-lising-content p {
      font-size: 1rem; }

  .magazine .container {
    padding: 0 30px; }

  .col-three {
    margin: 0 3.49% 0 0; }
    .col-three:last-child {
      margin: 0; }

  .magazine-box .magazine-item {
    width: 100%; }

  footer .container-fluid {
    margin: 0 17px; }
  footer .col-five {
    width: 18%;
    margin-right: 2%; }
  footer .col-last {
    margin: 0; }
  footer .footer-copyright {
    padding: 15px 30px; }
  footer .quick-links-f ul li a {
    letter-spacing: 0.5px; } }
@media only screen and (max-width: 1000px) {
  .mobile-only {
    display: block; }

  .header-info .quick-links {
    padding: 15px; }
  .header-info .locations-rate, .header-info .lising-offerm, .header-info .language-links, .header-info .lising-offer {
    display: none; }

  .header-nav {
    padding: 15px 15px 0 15px; }
    .header-nav .menu {
      position: fixed;
      top: 46px;
      right: 0;
      width: 100%;
      height: 100vh;
      overflow: auto;
      background: #fff;
      z-index: 999999999;
      margin: 0;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      background: #000;
      background: linear-gradient(180deg, #000 0, #4c4c4c);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#4c4c4c",GradientType=0); }
      .header-nav .menu .menu-top {
        padding: 20px 17px 20px 31px;
        border-bottom: 1px solid #616161; }
        .header-nav .menu .menu-top .social-network {
          float: left; }
          .header-nav .menu .menu-top .social-network a {
            color: #898989;
            margin-right: 20px;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear; }
            .header-nav .menu .menu-top .social-network a:hover {
              opacity: 0.8; }
        .header-nav .menu .menu-top .close-nav {
          float: right;
          cursor: pointer;
          color: #9b9b9b;
          font-size: 0.9375rem;
          line-height: 20px;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear; }
          .header-nav .menu .menu-top .close-nav .icon {
            width: 16px;
            height: 17px;
            fill: #e60028;
            margin-left: 10px;
            vertical-align: middle; }
          .header-nav .menu .menu-top .close-nav:hover {
            opacity: 0.8; }
      .header-nav .menu ul li {
        float: none;
        display: block;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #616161;
        position: relative; }
        .header-nav .menu ul li a {
          display: block;
          color: #ffffff;
          font-size: 1rem;
          letter-spacing: 1.4px;
          padding: 18px 30px 20px;
          position: relative; }
      .header-nav .menu ul .is-active:before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 100%;
        background-color: #e60028; }
      .header-nav .menu .menu-bottom {
        margin-top: 70px;
        padding: 0 17px 0 31px; }
        .header-nav .menu .menu-bottom .locations-rate .icon {
          width: 11px;
          height: 14px;
          fill: #d9d9d9;
          margin-right: 5px;
          vertical-align: middle; }
        .header-nav .menu .menu-bottom .locations-rate a {
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear; }
          .header-nav .menu .menu-bottom .locations-rate a span {
            color: #cccccc;
            font-size: 0.8125rem;
            text-transform: uppercase; }
          .header-nav .menu .menu-bottom .locations-rate a:hover {
            opacity: 0.8; }
        .header-nav .menu .menu-bottom .language-links {
          margin-top: 150px; }
          .header-nav .menu .menu-bottom .language-links a {
            font-size: 0.9375rem;
            text-transform: uppercase;
            color: #cccccc;
            vertical-align: middle;
            position: relative;
            margin-right: 10px;
            padding-bottom: 80px;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear; }
            .header-nav .menu .menu-bottom .language-links a:hover {
              color: #e60028; }
            .header-nav .menu .menu-bottom .language-links a:first-child:after {
              background-color: #cccccc;
              content: "";
              height: 15px;
              position: absolute;
              right: -8px;
              top: 2px;
              width: 2px; }
          .header-nav .menu .menu-bottom .language-links .is-active {
            color: #e60028; }

  .menu-trigger {
    width: 20px;
    float: right;
    cursor: pointer;
    margin-top: 10px; }
    .menu-trigger .menu-bar {
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
      margin-bottom: 4px;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    .menu-trigger:hover .menu-bar {
      background: #e60028; }

  .headroom--not-top .header-nav {
    padding: 10px !important; }
  .headroom--not-top .menu-trigger .menu-bar {
    background: #000000; }

  header.headroom--not-top .header-nav .menu ul li a {
    color: #ffffff; }

  header.headroom--not-top .header-nav .menu {
    margin-top: 0; }

  .about {
    margin: 50px 0; }

  .about-box {
    margin: 0 auto 30px auto; }

  .container {
    padding: 0 30px; }

  .back-to-top {
    bottom: 15px;
    right: 20px; }

  .one-places {
    margin-bottom: 100px; }

  .finance-lising .col-left {
    width: 100%;
    float: none; }
  .finance-lising .col-right {
    width: 100%;
    margin: 0;
    float: none; }

  .finance-lising-desc {
    margin-top: 58px; }
    .finance-lising-desc .finance-lising-item {
      margin-bottom: 32px; }
    .finance-lising-desc .finance-red-border {
      width: 50%;
      height: 65%;
      top: -30px;
      right: -30px; }

  .finance-lising-content {
    padding-top: 0; }
    .finance-lising-content h1 {
      max-width: 100%; }

  .col-three {
    width: 100%;
    float: none;
    margin: 0; }

  .one-places-box {
    margin: 0 0 52px 0; }
    .one-places-box .one-places-item {
      min-height: auto; }
      .one-places-box .one-places-item .reg-icon {
        margin-top: 0; }
    .one-places-box .one-places-name {
      margin-top: 25px; }

  .magazine-box {
    margin-bottom: 25px; }
    .magazine-box .magazine-content .magazine-more-info, .magazine-box .magazine-content p {
      display: none; }

  .contact .contact-form {
    max-width: 100%;
    margin: 65px 30px 0 30px; }

  footer .container-fluid {
    padding-top: 58px; }
  footer .quick-links-f {
    margin-top: 0;
    border-bottom: 1px solid #e6e6e6;
    position: relative; }
    footer .quick-links-f .arrow-icon {
      position: absolute;
      cursor: pointer;
      right: 6px;
      padding-top: 20px;
      transform: translate(-50%, -50%); }
      footer .quick-links-f .arrow-icon .icon {
        width: 8px;
        height: 13px;
        fill: #b7b7b7;
        transform: rotate(90deg);
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
      footer .quick-links-f .arrow-icon .icon-active {
        transform: rotate(-90deg); }
    footer .quick-links-f .mobile-only {
      display: inline; }
    footer .quick-links-f h6 {
      padding: 20px 0;
      margin-bottom: 0;
      cursor: pointer; }
    footer .quick-links-f ul {
      display: none; }
  footer .col-five {
    width: 100%;
    margin: 0; }
    footer .col-five:first-child .quick-links-f {
      border-top: 1px solid #e6e6e6; }
  footer .social-network {
    margin-top: 20px; }

  .main-slider .main-slider-image {
    height: calc(100vh - 46px); }

  .slick-arrow.slick-prev {
    left: 10px; }

  .animation-element.fade-in {
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0.1s;
    transform: translateY(25%); }
    .animation-element.fade-in.fade-in-delay1 {
      transition-delay: 0.1s; }
    .animation-element.fade-in.fade-in-delay2 {
      transition-delay: 0.3s; }
    .animation-element.fade-in.fade-in-delay3 {
      transition-delay: 0.5s; }
    .animation-element.fade-in.in-view {
      transform: translateY(0);
      opacity: 1; } }
@media only screen and (max-width: 700px) {
  .main-slider1 {
    padding-bottom: 0;
    height: 400px; }

  .subscribe {
    padding: 58px 15px 83px 15px; }

  .contact .contact-box .contact-content {
    padding: 0 15px; }

  footer .col-two {
    width: 100%; }
  footer .footer-copyright .privacy-info a, footer .footer-copyright .copy-info a {
    margin: 0 0 10px 0;
    display: block; }
  footer .footer-copyright .copy-info {
    text-align: left; }
    footer .footer-copyright .copy-info a {
      margin: 0 0 10px 0;
      display: block; }

  .slick-arrow {
    display: none !important; } }
.visible-nav {
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important; }

@media only screen and (max-width: 500px) {
  body {
    overflow-x: hidden !important; }

  .down-icon a {
    width: 30px;
    height: 30px; }
  .down-icon .icon {
    width: 12px;
    height: 13px;
    top: 5px; }

  .about-info, .one-places-info {
    margin-bottom: 40px; }

  .about-info h2, .one-places-info h2 {
    font-size: 1.5625rem; }
  .about-info p, .one-places-info p {
    font-size: 0.875rem;
    line-height: 22px; }

  .about-box .about-number {
    font-size: 4.8125rem;
    line-height: normal; }

  .about-more-info, .one-places-more-info, .finance-lising-desc .finance-lising-more-info, .magazine-box .magazine-content .magazine-more-info, footer .bank-visit .bank-visit-more-info, .one-places-more-info, .finance-lising-more-info, .magazine-more-info, .bank-visit-more-info {
    padding-top: 26px; }
    .about-more-info a, .one-places-more-info a, .finance-lising-desc .finance-lising-more-info a, .magazine-box .magazine-content .magazine-more-info a, footer .bank-visit .bank-visit-more-info a, .one-places-more-info a, .finance-lising-more-info a, .magazine-more-info a, .bank-visit-more-info a {
      font-size: 0.875rem; }
      .about-more-info a .icon, .one-places-more-info a .icon, .finance-lising-desc .finance-lising-more-info a .icon, .magazine-box .magazine-content .magazine-more-info a .icon, footer .bank-visit .bank-visit-more-info a .icon, .one-places-more-info a .icon, .finance-lising-more-info a .icon, .magazine-more-info a .icon, .bank-visit-more-info a .icon {
        width: 12px;
        height: 10px; }

  .one-places {
    margin-bottom: 90px; }

  .one-places .container {
    padding: 0; }

  .one-places-content {
    margin: 0 30px;
    padding: 0; }

  .one-places-info h2 {
    font-size: 1.5625rem;
    text-align: left; }
  .one-places-info p {
    font-size: 0.875rem;
    text-align: left;
    line-height: 22px; }

  .one-places-box .one-places-name {
    font-size: 1.375rem;
    color: #333; }

  .finance-lising {
    border-bottom: 1px solid #e6e6e6; }

  .finance-lising .container {
    padding: 0; }

  .finance-lising-content {
    padding: 0 30px;
    margin-bottom: 30px; }
    .finance-lising-content h1 {
      font-size: 2.0625rem; }
    .finance-lising-content p {
      font-size: 0.875rem;
      line-height: 22px; }

  .finance-lising-desc .finance-red-border {
    width: 92.5%;
    height: 240px;
    top: -60px; }
  .finance-lising-desc .finance-lising-item {
    margin-right: 30px; }

  .finance-lising-desc p {
    font-size: 0.875rem;
    line-height: 22px;
    padding: 0 30px; }

  .finance-lising-more-info {
    padding: 0 30px; }

  .slick-dots {
    bottom: 70px;
    right: 10px; } }
@media only screen and (max-width: 399px) {
  .finance-lising-desc .finance-red-border {
    width: 92.5%;
    height: 170px;
    top: -30px; } }

/*# sourceMappingURL=style.css.map */
