/* VARIABLES */

/* Size */
$desktop-content-width: 1440px;

/* Colors */
$primary-color: #e60028;
$white: #ffffff;
$black: #000000;
$black-light: #333333;
$gray: #8a8e92;
$gray-light: #686b6e;



$blue: #00a5fb;
$blue-light: #e5f6fe;
$green: #72a700;
$error: #A80000;
$orange: #ff8400;
$gray-backgorund-light: #fafafa;
$gray-backgorund: #f6f6f6;
$border-gray-light: #ebebeb;
$border-gray-dark: #262626;
$quick-search-border: #dadada;
$font-gray: #8c8c8c;
$table-gray: #8d8d8d;

/*Fonts*/
$regular-font: 'HelveticaNeue', Sans-Serif;
$regular-italic-font: 'HelveticaNeue-Italic', Sans-Serif;
$light-font: 'HelveticaNeue-Light', Sans-Serif;
$medium-font: 'HelveticaNeue-Medium', Sans-Serif;
$black-font: 'HelveticaNeue-Bold', Sans-Serif;
